name: Build Flutter APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable' # Torna all'ultima versione stabile (3.16+)

      - name: Create Project and Fix Android SDK
        run: |
          # Creiamo il progetto con l'organizzazione corretta
          flutter create . --platforms android --org com.filt
          
          # Forziamo il Compile SDK a 34 come richiesto dai log
          sed -i 's/compileSdkVersion flutter.compileSdkVersion/compileSdkVersion 34/g' android/app/build.gradle
          
          # Abilitiamo AndroidX e Jetifier per i vecchi plugin
          cd android
          echo "android.useAndroidX=true" > gradle.properties
          echo "android.enableJetifier=true" >> gradle.properties

      - name: Install Dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FiltApp-APK
          path: build/app/outputs/flutter-apk/app-release.apk
          
