name: Build Flutter APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create Android Structure
        # Aumentiamo la memoria RAM per Gradle e Java
        run: |
          flutter create . --platforms android --org com.filt
          cd android
          echo "org.gradle.jvmargs=-Xmx4096m -XX:MaxMetaspaceSize=512m" >> gradle.properties
          echo "android.useAndroidX=true" >> gradle.properties
          echo "android.enableJetifier=false" >> gradle.properties

      - name: Install Dependencies
        run: flutter pub get
        
      - name: Build APK
        # Forziamo il limite di memoria anche qui
        env:
          JAVA_OPTS: "-Xmx4096m"
        run: flutter build apk --release --no-tree-shake-icons
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FiltApp-APK
          path: build/app/outputs/flutter-apk/app-release.apk
          
